.fire {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.grass {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.water {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.electric {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.ground {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.rock {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.bug {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.psychic {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.normal {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.fighting {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.flying {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.poison {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.ghost {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.steel {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.ice {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.dragon {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.dark {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.fairy {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}

.shadow {
    background-image:
      linear-gradient(#F8D5D0, #FD8A54, #F7745A);
}
