.container {
    width: 100%;
}

.main-content {
    width: 100%;
    margin: 25px 0 25px 0;
}

.jumbo {
    background-image:
      linear-gradient(#dfdbed, #d1d9ee, #a5d2ec, #75cbea, #50a0d6);
    height: 450px;
    position: relative;
}
