doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title Pokedex

    link(rel="stylesheet" href="./styles.css")
    script(src="https://use.fontawesome.com/cffe1f5b61.js")

  body
    .container

      .jumbo
        .logo
          img(src="./assets/pokemon.png" width="40%")

        .search-content
          .search
            input(placeholder="Pikachu" class="search-bar")
            button(class="search-button")
              i.fa.fa-search
          .search-info
            p You can search by Pokemon name, type, move, location, game and more!

      .main-content
        .title
          h3#content-title
        .results#results

  script(src="./index.js")
