doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title Pokedex

    link(rel="stylesheet" href="./styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    script(src="https://use.fontawesome.com/cffe1f5b61.js")

  body
    .menu-container
      .menu
        ul.menu-list.menu-list-submenu
          li.menu-list-item.menu-list-item-quarters
            a(href="#").menu-link Types
          li.menu-list-item.menu-list-item-quarters
            a(href="#").menu-link Stats
          li.menu-list-item.menu-list-item-quarters
            a(href="#").menu-link Natures
          li.menu-list-item.menu-list-item-quarters
            a(href="#").menu-link Growth

        ul.menu-list
          li.menu-list-item.menu-list-item-fifths
            a(href="#").menu-link Berries
          li.menu-list-item.menu-list-item-fifths
            a(href="#").menu-link Games
          li.menu-list-item.menu-list-item-fifths
            a(href="#").menu-link Machines
          li.menu-list-item.menu-list-item-fifths
            a(href="#").menu-link Pokemon
            i.fa.fa-search.submenu-icon
          li.menu-list-item.menu-list-item-fifths
            a(href="#").menu-link Moves

    .container

      .jumbo
        .logo
          img(src="./assets/pokemon.png" width="40%")

        .search-content
          .search
            input(placeholder="Pikachu" class="search-bar")
            button(class="search-button")
              i.fa.fa-search
          .search-info
            p You can search by Pokemon name, type, move, location, game and more!

      .main-content
        .title
          h3#content-title
        .cards#results

  script(src="./index.js")
